src/main/resources/xsd/cwo/UniversalShipment.xsd

<xs:schema targetNamespace="http://www.cargowise.com/Schemas/Universal/2011/11" version="1.1" elementFormDefault="qualified" xmlns="http://www.cargowise.com/Schemas/Universal/2011/11" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="UniversalCommon.xsd" />

  <xs:element name="UniversalShipment" type="UniversalShipmentData" />

  <xs:complexType name="UniversalShipmentData">
    <xs:all>
      <xs:element name="Shipment" type="Shipment"/>
    </xs:all>
    <xs:attribute name="version" type="xs:token" />
  </xs:complexType>


</xs:schema>